In [1]:
import pandas as pd

### Read in csv files containing relevant data

- Define separator to parse by when reading from csv file (see [link](https://stackoverflow.com/questions/18039057/python-pandas-error-tokenizing-data))

In [6]:
movies_df = pd.read_csv("/home/home02/earshar/data_science/main/data/movies.csv", sep="|")
ratings_df = pd.read_csv("/home/home02/earshar/data_science/main/data/ratings.csv", sep="|")
users_df = pd.read_csv("/home/home02/earshar/data_science/main/data/users.csv", sep="|")

In [9]:
users_df

     user id      full name  age gender zip code
0          1     Ryan James   24      M    85711
1          2   Alice Graves   53      F    94043
2          3  Ambrose Smith   23      M    32067
3          4  Bobby Alvarez   24      M    43537
4          5  Latosha Jiles   33      F    15213
..       ...            ...  ...    ...      ...
938      939   Melva Carrol   26      F    33319
939      940   Randall Hill   32      M    02215
940      941    Don Hancock   20      M    97229
941      942    Geri Wilson   48      F    78209
942      943  Francisco Lee   22      M    77841

[943 rows x 5 columns]

In [ ]:
def get_recommendations(users: pd.dataframe, 
                        movies: pd.dataframe, 
                        ratings: pd.dataframe, 
                        full_name: str, 
                        method: str, 
                        year: int):
    """
    Return the title of the most highly recommended movie for the given user. 
    All methods should return a movie title that has not yet been rated by the given user.
    If there is more than one movie that meets the condition, the function should return the first 
    movie in alphabetical order. 

    users:     information about users with the columns (user id, full name, age, gender, zip code)
    ratings:   information about movie ratings by users with the columns (user id, item id, rating, timestamp)
    movies:    information about movies with the columns (movie id, movie title and release year)
    full name: full name of the user for whom we want to return one recommended movie
               whose release year is equal to year using one of the three implemented methods 
    method:    method for recommending movie ('by_popularity', 'by_rating' or 'by_similar_users') 
    year:      movie release year
    """